@import "tailwindcss";

@theme {
  --background-main: #000;
  --background-secondary: #0f0f0f;
  --background-third: #eee;

  --text-main: #fafafa;
  --text-secondary: #d4d4d4;
  --text-muted: #aaa;
  --text-dark: #0a0a0a;

  --border-color: #222;

  --font-main: "Nunito Sans", sans-serif;
  --font-display: "Nunito", sans-serif;
}

@layer base {
  body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-main);
  }
}

/* * {
  font-family: 'Nunito', 'Nunito sans', sans-serif;
} */